<%= link_to "新增" , new_website_path %>
<table>
  <thead>
    <tr>
    <th> 網站名稱 </th>
    <th> 網站描述 </th>
    <th> 網址 </th>
    <th> 狀態 </th>
    <th> 上次更新 </th>
    <th> 選項 </th>
    </tr>
  </thead>
  <tbody>
    <% @websites.each do |web| %>
      <tr>
        <td> <%= link_to web.name , web.address , :target => :_blank %> </td>
        <td> <%= web.description %> </td>
        <td> <%= link_to web.address , web.address , :target => :_blank %> </td>
        <td> <%= web.status %> </td>
        <td> <%= web.updated_at %> </td>
        <%#= web.message %>
        <%#= web.last_str %>
        <td> <%= link_to "修改" , edit_website_path( web ) %> / <%= link_to "刪除" , website_path( web ) , :method => :delete , :data => { :confirm => "really want to delete this website?" } %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "更新", scrap_websites_path , :method => :post , :data => { :disable_with => "Updating..." } %>